@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
.main-color{
    color:#00ba51;
}
img{
max-width: 100%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1200px;
}
#header .row{
    height: 68px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.main-menu{
   position: static;
}
.menu-btn{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    color:#555;
    width: 68px;
    height:68px;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    float: left;
    margin-right:50px;
}
.menu-btn:hover,
#header a:hover{
    text-decoration: none;
    color:#555;
}
.menu-btn i{
    font-size:2rem;
    color:#555;
}
.menu-btn .times{
    display: none;
}
.menu-btn span.bars{
    font-size:.66rem;
    text-transform: capitalize;
}
#header .logo{
    display: inline-block;
}
#header .logo img{
    width: 68px;
    height: 68px;
}
#header .sub-menu{
    text-align: right;
}
#header .hotline{
   margin-bottom:0;
   display: inline-block;
    font-size:1.2rem;
    color:#555;
    margin-left: 20px;
    line-height: 20px;
}
#header .hotline i,
#header .address i{
    margin-right:8px;
}
#header .address{
    margin-bottom:0;
    display: inline-block;
    font-size:1.2rem;
    color:#555;
}
.nav-menu{
    display: none;
}
.isActived .nav-menu{
    display: block;
}
.nav-menu{
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 400px;
    border-radius: 0 0 8px 8px;
}
.nav-menu ul{
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 0;
    width: 30%;
    float: left;
    margin-bottom:0rem;
    background: transparent;
}
.nav-menu ul li{
    padding:25px 0 20px 40px;
}
.nav-menu .menu-left{
    width:70%;
    float: right;
}
.nav-menu .menu-left div{
    display: none;
    padding-top: 80px;
    padding-right: 20px;
    text-align: justify;
    font-size: 1.2rem;
}
.nav-menu .menu-left div.active{
display: block;
}
.nav-menu.bg01{
    background-image: linear-gradient(to right, rgb(246, 248, 250) 40%, rgba(246, 248, 250, 0.5)), url(../../public/images/bg01.jpg);
    background-size:cover;
    background-position: top left;
    background-repeat: no-repeat;
}
@media screen and (max-width:992px){
    .nav-menu{
        left:0;
        height: auto;
        background: #f6f8fa;
        background-image: none!important;
    }
    .nav-menu .menu-left{
        display: none;
    }
    .nav-menu ul{
        width: 100%;
    }
}
/* banner đăng ký */
.form-dangky{
    background: url(../../public/images/better365_sg_hero_img1-1.png)no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height:850px;
}
.form-dangky .form-wrap{
    position: relative;
    height: 850px;
}
.form-dangky #dang-ky{
    width: 400px;
    padding:30px 20px;
    background: #fff;
    border-radius:8px;
    margin-top:5vw;
    margin-left:calc(100% - 400px);
}
#dang-ky h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.form-dangky select{
    -webkit-appearance: none;
    width: 100%;
    padding: 10px 13px;
    border-radius: 5px;
    cursor: pointer;
    background: url(../../public/images/bottom_black.png) right 16px center no-repeat transparent;
    background-size: 12px 6px;
    border: 1px solid #ddd;
    color: #777;
    outline: none;
}
.btn-send{
    width:100%;
    font-size:1.6rem;
}
.shadowh1:after{
    content: "";
    left: -120%;
    top: -80%;
    position: absolute;
    width: 200%;
    height: 200%;
    background: rgba(46, 145, 230, 0.45);
    transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
    z-index:1;
}
.shadowh1{
    position: absolute;
    width:60%;
    height: 100%;
    overflow: hidden;
}
.shadowh1 h1{
    width: 50%;
    text-align: center;
    margin-top:5vw;
    margin-left:25%;
    color:#fff;
    position: relative;
    z-index: 2;
}
.shadowh1 p{
    color:#fff;
    width: 50%;
    margin-top:5vw;
    margin-left:25%;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}
.shadowh1 p span{
    display: inline-block;
    width:100%;
    font-size:3rem;
}
@media screen and (max-width:1024px){
    .form-dangky,
    .form-dangky .form-wrap{
        height:auto;
    }
    .form-dangky #dang-ky{
        display: inline-block;
        width: 100%;
        position: static;
        border-radius: 0 0 8px 8px;
        margin: 0;
    }
    .shadowh1{
        position: relative;
        width: 80%;
        height: 80%;
    }
    .shadowh1:after{
        left: -120%;
        top: -130%;
    }
    .shadowh1 h1{
        margin-left: 15%;
        font-size: 2rem;
    }
    .shadowh1 p{
        font-size: 1.2rem;
        margin-left: 2%;
    }
}
@media screen and (max-width:767px){
    #header .address{
        display: none;
    }
}
@media screen and (max-width:520px){
    .menu-btn{
        margin-right:10px;
    }
    .form-dangky{
        background-position: top center;
        background-size: auto 520px;
    }
    #header .logo img {
        width: 50px;
        height: 50px;
        margin-top: 9px;
    }
    #header .hotline{
        margin-left:0;
    }
    .shadowh1{
        padding:20px 0;
    }
    .shadowh1:after {
        left: -102%;
        top: -104%;
        transform: rotate(16deg);
        -webkit-transform: rotate(16deg);
    }
    .shadowh1 h1 {
        margin-left: 5%;
        font-size: 1.6rem;
        width: 90%;
    }
    .shadowh1 p{
        width: 65%;
        font-size: 1rem;
    }
    .shadowh1 p span{
        font-size: 2rem;
    }
}
.alert-box{
    position: fixed;
    background:rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: none;
    top:0;
    left:0;
    z-index: 111111;
}
.alert-box .alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 1.4rem;
    box-shadow: 0px 0px 2px 2px #fff;
}
/* ba bước đăng ký  */
.block02{
    padding-top:50px;
}
.block02 h2,
.block03 h2{
    font-weight: 700;
    margin-bottom:3rem;
}
.block02 .step{
    text-align: center;
}
.block02 .step img{
    width:140px;
    margin-bottom:2rem;
}
.block02 .step h3{
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.block02 .step p{
    font-size: 1.2rem;
}
.block02 .step.--spec{
    text-align:left;
}
.block02 .step.--spec figure{
    text-align: center;
}
.block02 .step.--spec figure img{
max-width: 100%;
width:auto;
}
.block02 .step.--spec figure small{
    display: block;
}
/* section intro  */
.block-intro{
    margin-top: 5rem;
}
.block-intro .d-flex{
    align-items: center;
    -webkit-align-items: center;
}
.block-intro ul{
    list-style: none;
}
.block-intro ul li img{
    width: 19px;
    height: 19px;
    margin-right:5px;
}
.block-intro .left{
    flex:50% 0 0;
}
.block-intro .right{
    flex:50% 0 0;
}
.block-intro2{
    margin-top: 3rem;
    padding: 4rem 0;
    background: url(../../public/images/banner-grab-for-business.jpg)no-repeat;
    color: #fff;
    background-size: auto 100%;
    background-position: top right;
}
.block-intro2 .row{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.block-intro2 .intro-right p{
    margin:0;
    font-size: 1.2rem;
}
.block-intro2 .intro-right p+p{
    font-size: 1.8rem;
}
.block-intro2 .intro-right p i{
    margin-right: 15px;
}
.block-intro2 .intro-right .btn{
    margin-left: 20px;
    margin-top:-25px;
}
.block-intro3{
    background: url(../../public/images/dg-dl-grab-back.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
}
.block-intro3{
    padding:5rem;
    color:#fff;
}
.block-intro3 h2{
    text-align: center;
    font-weight: bold;
}
.block-intro3{
    padding:5rem;
    color:#fff;
}
.block-intro3 h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center
}
.block-intro3 h3 span{
    display: block;
    font-size: 3rem;
}
@media screen and (max-width:1024px){
    .block-intro{
        margin-top: 2rem;
        padding:0 20px;
    }
    .block-intro .d-flex{
        flex-direction: column;
    }
    .block-intro2{
        text-align: center;
    }
    .block-intro2 .intro-right{
        margin-top:2rem;
    }
}
/* câu hỏi thường gặp */
.block03{
    margin-top:100px;
    margin-bottom:50px;
}
.block03 .card{
    margin:30px 0!important;
    border-bottom: 1px solid rgba(0,0,0,.125)!important;
}
.block03 .nav-tabs .nav-item{
    width: 33.3%;
}
.block03 li a{
    border:0px;
}
.block03 li a:hover,
.block03 li a.active{
    border:0px;
    color:#00ba51;
    text-decoration: none;
}
.block03 li a div{
    width: 50px;
    height: 50px;
    font-size: 2rem;
}
.block03 li a.active h3,
.block03 li a.active p,
.block03 li a.active i{
    color:#00ba51!important;
}
.block03 .tab-content>.active{
    padding-top: 20px;
}
.block03 .nav-tabs .nav-link{
    border:0
}
@media screen and (max-width:992px){
    .block03 li a h3{
        font-size: 1.4rem;
    }
    .block03 .tab-content > .tab-pane{
        padding:20px 10px;
    }
}
@media screen and (max-width:375px){
    .block03 li a h3{
        font-size: 1.2rem;
    }
}
.ques{
    font-size: 1.4rem;
    font-weight: bold;
}
.block02 .step.--step2 img{
    width:110px;
}

#footer{
    padding: 40px 0;
    background-color: #eaeff2;
    color: #363a45;
}
.footer{
    margin: 0px !important;
    padding: 20px 0;
    background-color: #363a45;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 100px;
}
.footer p{
    margin-bottom:0px;
    color:#fff;
}
.footer p a{
    color:#fff;
}
.footer p a:hover{
    color:#fff;
}
.footer p span:after{
    content: '\2022';
    font-size: 1.2em;
    color: #fff;
    padding:0 10px 0 5px;
}
#footer figure img{
    max-width: 125px;
}
@media screen and (max-width:767px){
    .footer{
        text-align: center!important;
    }
}
